.custom-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
