/* .custom-class {
  background-image: url("https://th.bing.com/th/id/R.026ae1d251ddf0ea65053349c8485144?rik=7Oer26QKziqxrg&pid=ImgRaw&r=0");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
} */
